.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: min-content; 
  /* width: 60vw; */
  margin-top: 30px;
}
